.resizable-progress-bar {
  width: 100%;
  display: flex;
  align-items: center;

  .percent-value {
    width: 80px;
    padding: 0 0px 0 20px;
    text-align: center;
  }
}

.progress-bar-content {
  width: 800px;
  background-color: #a8a8a8;
  border-radius: 20px;

  .order {
    height: 100%;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: red;
  }
}

.resize-handler {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  border-radius: 50%;
  background-color: white;
  margin-top: -5px;
  cursor: col-resize;
}

.resizable-bar {
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-color: blue;
  border-radius: 20px;
}
