.time-progress-bar {
  display: flex;
  align-items: center;
  height: 20px;
  padding-bottom: 15px;
  
  .progress-bar-content {
    width: 800px;
    height: 100%;
    background-color: #a8a8a8;
    
    .fill-content {
      display: flex;
      height: 100%;
      background-color: green;
      border-radius: 20px;
    }
  }

  .percent-value {
    width: 80px;
    padding: 0 0px 0 20px;
    text-align: center;
  }
}