.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;

  .drag-drop-context {
    background-color: #cecece;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;

  }

  .item-content {
    display: flex;
    flex-direction: column;

    .progress-bar-group {
      background-color: grey;
      margin: 10px 5px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 1px 1px 4px #444444;
    }
  }
}